<!-- <div class="width100" style="display:flex"> 
    <input [(ngModel)]="term" #ctrl="ngModel"  (keydown)="fazBuscaItens()" class="width50 espacamento"> 
  
    <select name="tipoItem" [(ngModel)]="tipoItemFiltro" class="width25" (change)="fazBuscaItens()"> 
      <option *ngFor="let tipoItem of tiposItens" [value]="tipoItem.value">{{tipoItem.nome}}</option> 
    </select> 
</div> -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  matSort  flex="100">
    <!-- <ng-container matColumnDef="favoritar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > favoritar </th>
      <td mat-cell *matCellDef="let element" [ngClass]="verificarRaridadeCaixa(element.name)"> 
        <i *ngIf="itensService.verificarFavoritos(element)" (click)="itensService.adicionarOuRemoverFavoritos(element)" class="feather btn-outline-primary icon-thumbs-up icon-fav"></i>
        <i *ngIf="!itensService.verificarFavoritos(element)" (click)="itensService.adicionarOuRemoverFavoritos(element)"  class="feather btn-outline-danger icon-thumbs-down icon-fav"></i>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="league">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > League </th>
      <td mat-cell *matCellDef="let element" > 
        {{element.league.name}} </td>
    </ng-container>

    <ng-container matColumnDef="teamHome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Team Home </th>
      <td mat-cell *matCellDef="let element" [ngClass]="verificarRaridadeCaixa(element.teams.home)"> 
        {{element.teams.home.name}} -  <b>{{findOddValue(element.fixture.id, 0)}}</b> </td>
    </ng-container>

    <ng-container matColumnDef="scoreHome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Score Home </th>
      <td mat-cell *matCellDef="let element" > 
        {{element.goals.home}} </td>
    </ng-container>

    <ng-container matColumnDef="teamAway">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Team Away </th>
      <td mat-cell *matCellDef="let element" [ngClass]="verificarRaridadeCaixa(element.teams.away)"> 
        {{element.teams.away.name}} - <b>{{findOddValue(element.fixture.id, 2)}}</b> </td>
    </ng-container>

    <ng-container matColumnDef="scoreAway">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Score Away </th>
      <td mat-cell *matCellDef="let element" > 
        {{element.goals.away}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.goals.away === 1 && row.goals.away > row.goals.home ? 'fundo-verde' : ''"></tr>
  </table>
  